@import "style.css";

.banner {
    position: relative;
    overflow: hidden;
    height: 637px;
    display: flex;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../image/banners/index.webp');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: 0;
    transform: scale(1.05);
}

.banner-circle {
    height: 375px;
    width: 1400px;
    border-radius: 188px;
    background-color: rgb(68, 115, 75, 0.9);
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
    align-content: center;
    position: relative;
    z-index: 1;
}

.banner-h1 {
    color: var(--text-color-alt);
    text-transform: uppercase;
    font-family: ProstoOne, sans-serif;
    font-size: 55px;
}

.banner-h1 p span {
    color: var(--text-color-accent);
}

.banner-h2 {
    color: var(--text-color-alt);
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 2px;
}

.advs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 140px;
    height: 140px;
    margin-top: 100px;
    padding-left: 260px;
    padding-right: 260px;
    background-color: var(--background);
}

.adv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-h1, .adv-h2 {
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
    font-family: Montserrat, sans-serif;
}

.adv-h1 {
    font-weight: 600;
    padding-bottom: 25px;
    text-align: center;
}

.adv-h2 {
    width: 370px;
}

.ssnl {
    height: 720px;
    margin-top: 188px;
    background-color: var(--background);
}

.ssnl-h1 {
    color: var(--text-color);
    text-transform: uppercase;
    font-family: ProstoOne, sans-serif;
    font-size: 36px;
    padding-left: 258px;
    padding-bottom: 50px;
}

.ssnl-cards {
    width: 1272px;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 53px;
    row-gap: 50px;
}

.ssnl-card {
    width: 610px;
    height: 294px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.s1 {
    background-image: url("../image/ssnl/1.webp");
}

.s2 {
    background-image: url("../image/ssnl/2.webp");
}

.s3 {
    background-image: url("../image/ssnl/3.webp");
}

.s4 {
    background-image: url("../image/ssnl/4.webp");
}

.ctgs {
    height: 600px;
    margin-top: 160px;
    margin-bottom: 160px;
    background-color: var(--background);
}

.ctgs-h1 {
    color: var(--text-color);
    text-transform: uppercase;
    font-family: ProstoOne, sans-serif;
    font-size: 36px;
    padding-left: 258px;
    padding-bottom: 50px;
}

.ctgs-cards {
    width: 1400px;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.ctgs-card {
    width: 500px;
    height: 230px;
    background-color: var(--accent);
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.c1 {
    background-image: url("../image/ctgs/1.webp");
}

.c2 {
    background-image: url("../image/ctgs/2.webp");
}

.c3 {
    width: 300px;
    height: 510px;
    grid-column: 2;
    grid-row: 1 / span 2;
    background-image: url("../image/ctgs/3.webp");
}

.c4 {
    background-image: url("../image/ctgs/4.webp");
}

.c5 {
    background-image: url("../image/ctgs/5.webp");
}

.farms {
    height: 660px;
    margin-bottom: 160px;
}

.farms-h1 {
    color: var(--text-color);
    text-transform: uppercase;
    font-family: ProstoOne, sans-serif;
    font-size: 36px;
    padding-left: 258px;
    padding-bottom: 50px;
}

.farms-cards {
    display: grid;
    justify-self: center;
    gap: 52px;
    grid-template-columns: repeat(3, 1fr);
    width: 1400px;
}

.farms-card {
    width: 432px;
    height: 566px;
    background-color: var(--background);
    border: 5px solid var(--primary-color);
}

.farms-img {
    width: 378px;
    height: 269px;
    margin: 22px 22px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.farms-h2 {
    padding-top: 50px;
    padding-bottom: 11px;
    justify-self: center;
    text-align: center;
    font-family: Montserrat-ExtraBold, sans-serif;
    font-size: 26px;
    color: var(--text-color);
}

.farms-h2 span {
    display: block;
}

.farms-description {
    text-align: center;
    justify-self: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    width: 368px;
}

.fh2 {
    padding-top: 15px;
}

.f1 {
    background-image: url("../image/farm/1.webp");
}

.f2 {
    background-image: url("../image/farm/2.webp");
}

.f3 {
    background-image: url("../image/farm/3.webp");
}

.feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 253px;
    margin-bottom: 160px;
}

.feedback-left, .feedback-right {
    width: 12px;
    height: 22px;
    cursor: pointer;
}

.feedback-content {
    width: 870px;
    height: 300px;
    text-align: justify;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
        "avatar name"
        "avatar date"
        "avatar text"
        "points points";
    column-gap: 40px;
    align-items: start;
}

.feedback-content * {
    transition: all 0.3s ease-in-out;
}

.feedback-avatar {
    grid-area: avatar;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../image/feedback/avatar.webp");
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.feedback-name {
    grid-area: name;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: var(--text-color);
    margin-top: 8px;
}

.feedback-date {
    grid-area: date;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: var(--text-color);
    margin-top: 5px;
}

.feedback-text {
    grid-area: text;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--text-color);
    margin-top: 20px;
}

.feedback-points {
    grid-area: points;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;
}

.feedback-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.feedback-point.active {
    background-color: #000000;
}

/*@media (max-width: 768px) {*/
/*    body {*/
/*        overflow-x: hidden;*/
/*    }*/

/*    header {*/
/*        padding: 0 15px;*/
/*        justify-content: space-between;*/
/*    }*/

/*    .header-logo {*/
/*        margin-left: 0;*/
/*    }*/

/*    .header-title {*/
/*        margin-left: 15px;*/
/*        font-size: 12px;*/
/*    }*/

/*    .header-title a {*/
/*        margin-right: 15px;*/
/*    }*/

/*    .header-login {*/
/*        margin-right: 0;*/
/*        margin-left: 0;*/
/*    }*/

/*    .banner {*/
/*        height: 500px;*/
/*    }*/

/*    .banner-circle {*/
/*        width: 90%;*/
/*        height: auto;*/
/*        padding: 40px 20px;*/
/*        border-radius: 50px;*/
/*    }*/

/*    .banner-h1 {*/
/*        font-size: 32px;*/
/*    }*/

/*    .banner-h2 {*/
/*        font-size: 16px;*/
/*    }*/

/*    .advs {*/
/*        grid-template-columns: 1fr;*/
/*        padding: 20px;*/
/*        height: auto;*/
/*        row-gap: 40px;*/
/*        margin-top: 60px;*/
/*    }*/

/*    .adv-h2 {*/
/*        width: 100%;*/
/*        max-width: 400px;*/
/*    }*/

/*    .ssnl-h1, .ctgs-h1, .farms-h1 {*/
/*        padding-left: 20px;*/
/*        padding-bottom: 30px;*/
/*        font-size: 28px;*/
/*    }*/

/*    .ssnl {*/
/*        height: auto;*/
/*        margin-top: 60px;*/
/*        padding-bottom: 40px;*/
/*    }*/

/*    .ssnl-cards {*/
/*        width: 100%;*/
/*        padding: 0 20px;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        gap: 20px;*/
/*    }*/

/*    .ssnl-card {*/
/*        width: 100%;*/
/*        height: 200px;*/
/*        border-radius: 30px;*/
/*    }*/

/*    .ctgs {*/
/*        height: auto;*/
/*        margin-top: 60px;*/
/*        margin-bottom: 60px;*/
/*    }*/

/*    .ctgs-cards {*/
/*        width: 100%;*/
/*        padding: 0 20px;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        gap: 20px;*/
/*    }*/

/*    .ctgs-card {*/
/*        width: 100%;*/
/*        height: 200px;*/
/*        border-radius: 30px;*/
/*    }*/

/*    .c3 {*/
/*        width: 100%;*/
/*        height: 200px;*/
/*        grid-column: span 2;*/
/*        grid-row: auto;*/
/*    }*/

/*    .farms {*/
/*        height: auto;*/
/*        margin-bottom: 60px;*/
/*    }*/

/*    .farms-cards {*/
/*        width: 100%;*/
/*        padding: 0 20px;*/
/*        grid-template-columns: 1fr;*/
/*        gap: 30px;*/
/*    }*/

/*    .farms-card {*/
/*        width: 100%;*/
/*        height: auto;*/
/*        padding-bottom: 30px;*/
/*    }*/

/*    .farms-img {*/
/*        width: calc(100% - 44px);*/
/*    }*/

/*    .farms-description {*/
/*        width: 90%;*/
/*    }*/

/*    .feedback {*/
/*        gap: 20px;*/
/*        padding: 0 20px;*/
/*        margin-bottom: 60px;*/
/*    }*/

/*    .feedback-content {*/
/*        width: 100%;*/
/*        grid-template-columns: 1fr;*/
/*        grid-template-areas:*/
/*            "avatar"*/
/*            "name"*/
/*            "date"*/
/*            "text"*/
/*            "points";*/
/*        justify-items: center;*/
/*        text-align: center;*/
/*    }*/

/*    .feedback-text {*/
/*        font-size: 16px;*/
/*    }*/

/*    footer {*/
/*        flex-direction: column;*/
/*        height: auto;*/
/*        padding: 40px 20px;*/
/*    }*/

/*    .footer-lable {*/
/*        margin-left: 0;*/
/*        margin-top: 0;*/
/*        padding: 0;*/
/*        margin-bottom: 40px;*/
/*    }*/

/*    .footer-info {*/
/*        margin-left: 0;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        gap: 40px;*/
/*    }*/

/*    .footer-time a {*/
/*        grid-template-columns: 1fr;*/
/*        row-gap: 5px;*/
/*    }*/
/*}*/


/*@media (max-width: 375px) {*/
/*    header {*/
/*        flex-wrap: wrap;*/
/*        height: auto;*/
/*        padding: 15px 10px;*/
/*        justify-content: space-between;*/
/*    }*/

/*    .header-logo {*/
/*        margin-right: auto;*/
/*    }*/

/*    .header-login {*/
/*        margin-left: auto;*/
/*    }*/

/*    .header-title {*/
/*        width: 100%;*/
/*        justify-content: space-between;*/
/*        margin: 15px 0 0 0;*/
/*        font-size: 10px;*/
/*    }*/

/*    .banner {*/
/*        height: 380px;*/
/*    }*/

/*    .banner-circle {*/
/*        width: 92%;*/
/*        padding: 30px 15px;*/
/*        border-radius: 30px;*/
/*    }*/

/*    .banner-h1 {*/
/*        font-size: 22px;*/
/*    }*/

/*    .banner-h2 {*/
/*        font-size: 12px;*/
/*        width: 100%;*/
/*    }*/

/*    .advs {*/
/*        margin-top: 40px;*/
/*        padding: 15px;*/
/*        row-gap: 30px;*/
/*    }*/

/*    .adv-h1 {*/
/*        font-size: 20px;*/
/*        padding-bottom: 10px;*/
/*    }*/

/*    .adv-h2 {*/
/*        font-size: 14px;*/
/*    }*/

/*    .ssnl-h1, .ctgs-h1, .farms-h1 {*/
/*        font-size: 22px;*/
/*        text-align: center;*/
/*        padding-left: 0;*/
/*        padding-bottom: 20px;*/
/*    }*/

/*    .ssnl {*/
/*        margin-top: 40px;*/
/*    }*/

/*    .ctgs {*/
/*        margin-top: 40px;*/
/*        margin-bottom: 40px;*/
/*    }*/

/*    .ssnl-cards, .ctgs-cards {*/
/*        grid-template-columns: 1fr;*/
/*        padding: 0 15px;*/
/*        gap: 15px;*/
/*    }*/

/*    .ssnl-card, .ctgs-card {*/
/*        height: 180px;*/
/*        border-radius: 20px;*/
/*    }*/

/*    .c3 {*/
/*        grid-column: span 1;*/
/*        height: 180px;*/
/*    }*/

/*    .farms-cards {*/
/*        padding: 0 15px;*/
/*        gap: 20px;*/
/*    }*/

/*    .farms-card {*/
/*        border-width: 3px;*/
/*        padding-bottom: 15px;*/
/*    }*/

/*    .farms-img {*/
/*        width: calc(100% - 20px);*/
/*        margin: 10px;*/
/*        height: 180px;*/
/*    }*/

/*    .farms-h2 {*/
/*        font-size: 18px;*/
/*        padding-top: 15px;*/
/*    }*/

/*    .farms-description {*/
/*        font-size: 14px;*/
/*        width: 90%;*/
/*    }*/

/*    .feedback {*/
/*        padding: 0 15px;*/
/*        margin-bottom: 40px;*/
/*    }*/

/*    .feedback-left, .feedback-right {*/
/*        display: none;*/
/*    }*/

/*    .feedback-avatar {*/
/*        width: 70px;*/
/*        height: 70px;*/
/*    }*/

/*    .feedback-name {*/
/*        font-size: 18px;*/
/*    }*/

/*    .feedback-date {*/
/*        font-size: 12px;*/
/*    }*/

/*    .feedback-text {*/
/*        font-size: 14px;*/
/*        margin-top: 15px;*/
/*    }*/

/*    .feedback-points {*/
/*        margin-top: 20px;*/
/*    }*/

/*    footer {*/
/*        padding: 30px 15px;*/
/*    }*/

/*    .footer-lable {*/
/*        text-align: center;*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .footer-ls {*/
/*        justify-content: center;*/
/*    }*/

/*    .footer-info {*/
/*        grid-template-columns: 1fr;*/
/*        gap: 30px;*/
/*        text-align: center;*/
/*    }*/

/*    .footer-cont a, .footer-time a {*/
/*        justify-content: center;*/
/*    }*/

/*    .footer-h1 {*/
/*        font-size: 20px;*/
/*        margin-bottom: 15px;*/
/*    }*/
/*}*/