:root {
    /* Основные цвета */
    --primary-color: #44734B;
    --accent: #E0A82B;
    --background: #FFF9F0;
    --text-color: #333D29;

    /* Дополнительные цвета */
    --text-color-alt: #FFF9F0;
    --text-color-accent: #FFB306;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('../font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProstoOne';
    src: url('../font/ProstoOne/ProstoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}